* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  box-sizing: border-box;
}

body {
  min-height: 700px;
  font-family: verdana, arial, helvetica, sans-serif;
}

body {
  width: 360px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f8f8f8;
  border-bottom: solid 1px #e7e7e7;
}

header > * {
  cursor: pointer;
}

#brand {
  width: 255px;
  float: left;
  color: #777;
  font-size: 18px;
  margin-left: 10px;
}

#brand > * {
  float: left;
}

#brand p {
  height: 50px;
  line-height: 50px;
}

#reload-button {
  width: 70px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  float: right;
  font-size: 14px;
  padding: 5px;
  margin-top: 10px;
  margin-right: 25px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

#reload-button:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

#images {
  padding-top: 50px;
}

#images > div {
  margin-bottom: 20px;
}

#images img {
  display: block;
  width: 300px;
  margin: 30px auto;
  cursor: pointer;
}

#images img:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear;
}
